*{
    font-family: 'Roboto';
}
header{
    padding: 0;
    margin-top: -8px;
}

body{
    min-height: 100vh;
    width: 100%;
    padding-bottom: 100px;
    position: absolute;
    background-color: #F1EDE3;
}

.row{
    margin:0;
    margin-bottom:5%;
}

.Container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: #4169E1;
    border: 2px solid #00BFFF;
}

.btn-primary:hover{
    background-color: #00BFFF;
    border: 2px solid #00BFFF;
}

.msg{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

h1{
    color: #4169E1;
}

h2{
    color: #4169E1;
}
#navbar img{
    width: 60px;
    margin-left: 30%;
}
#navbar{
    justify-content: space-between;
    background-color: 	#4169E1;
    padding:0%;
    margin: 0%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#navbar a{
    font-size: 14px;
    color: white;
    /* font-weight: bold; */
}

#navbar a:hover{
    font-size: 14px;
    color: #00BFFF;
}

#search-container{
    /* background-image: url("../img/LEM fundo.png"); */
    background-color: #F1EDE3;
    background-size: cover;
    background-position: center;
    height: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

#search-container h1{
    color:#00BFFF;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 90%;
    margin: 0 auto;
    border-radius: 90px;
}
#search-2{
    width: 80%;
    height: 70px;
    background-color: #4169E1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
#search-3{
    background-color: white;
    border-radius: 30px;
    margin-right: 1%;
    display: flex;
    align-items: center;
}
.p3 img{
    width: 50px;
    height: 50px;
}

#Principal{
 margin-top: 5%;
 margin-bottom: 5%;
 width: 100%;
 background-color: #F1EDE3;
 display: flex;
 align-items: center;
 justify-content: center;

}
.imgPrincipal img{
    width: 80%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    
 }

#events-container{
    padding: 50px;
}

#events-container h2{
    margin-bottom: 10px;
}

#events-container .subtitle{
    color: #4169E1;
    margin-bottom: 30px;
}

.cards-container{
    display: flex;
    padding: 10%;
}

#events-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin:.5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#events-container img{
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date{
    font-size: 12px;
    color:#CCC;
}

.card .card-title {
    color: #4169E1;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants{
    font-size: 14px;
    color:#4169E1;
}

#event-create-container{
    padding: 30px;
}

#event-create-container label{
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea{
    font-size: 12px;
    margin-bottom: 2%;
    margin-top: 2%;

}

#image-container,
#info-container{
    margin-top: 30px;
}

#image-container img{
    border-radius: 10px;
}

#info-container h1{
    font-size: 36px;
    font-weight: 900;
    color: #4169E1;
}

#info-container p {
    margin: 0;
    font-size: 20px;
    display: flex;
    color: #4169E1;
    margin-top: 70px;
}

#info-container h3,
#description-container h3 {
  font-size: 20px;
  font-weight: bold;
  color: #4169E1;
}

#info-container ion-icon {
  font-size: 20px;
  color: #00BFFF;
  margin-right: 5px;
}
#description-container{
    margin-top: 30px;
    color: #4169E1;
}

.dashboard-title-container{
    margin-bottom: 30px;
    margin-top:30px;
    display: flex;
    justify-content: center;
}
.dashboard-title-container h1{
   font-size: 72px;
   font-weight: bold;
}
.dashboard-events-container th{
    width:25%;
    background-color: #4169E1;
}
.dashboard-events-container form{
    display: inline-block;
}

.dashboard-events-container tbody{
   border-radius: 10px;
   background-color: #F1EDE3;
}

.dashboard-events-container table{
    border-radius: 10px;
    background-color: #4169E1;
 }

.img-preview{
    width: 100px;
    margin-top: 20px;
}

footer{
    background-color: 	#4169E1;
    color: #FFF;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#footer img{
    width: 170px;
    
}
.info{
    text-align: start;
    font-weight: bold;
}
.info p{
    padding: 1px;
}

#pagination {
    display: flex;
    justify-content: center;
    padding: 0;
 }
 
 .table-blue {
    background-color: #4169E1; /* Cor de fundo azul */
    color: black; /* Cor do texto preta */
    border-radius: 10px; /* Borda arredondada */
    border-spacing: 5px; /* Espaçamento entre as células */
    border-collapse: separate; /* Colapso separado das bordas */
    overflow: hidden; /* Evita que o overflow afete a aparência */
    width: 100%; /* Largura total da tabela */
    margin-bottom: 80px;
}

.table-blue th,
.table-blue td {
    padding: 10px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto à esquerda */
    border: 1px solid #fff; /* Bordas das células */
}

.table-blue th:first-child,
.table-blue td:first-child {
    border-top-left-radius: 10px; /* Arredonda a borda superior esquerda */
}

.table-blue th:last-child,
.table-blue td:last-child {
    border-top-right-radius: 10px; /* Arredonda a borda superior direita */
}

.table-blue a {
    color: #4169E1; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado dos links */
}

.table-blue a:hover {
    color: #ccc; /* Cor do texto dos links ao passar o mouse */
}
.action-buttons {
    display: flex;
    justify-content: center;
}

.edit-btn,
.delete-btn {
    margin: 5px; /* Espaçamento entre os botões */
}

